In [8]:
import pandas as pd

In [10]:
fd = pd.read_csv("food production.csv")

In [11]:
fd.head()

,Country,Item,Year,Value
0,Algeria\nAlgeria,Wheat and products\nWheat and products,2004\n2005,2731\n2415
1,Algeria,Wheat and products,2006,2688
2,Algeria,Wheat and products,2007,2319
3,Algeria\nAlgeria,Wheat and products\nWheat and products,2008\n2009,1111\n2953
4,Algeria,Wheat and products,2010,2605